### IntelliJ IDEA project files ###
.idea/
*.iws
*.ipr
*.iml

### Eclipse project files ###
.project
.classpath
.settings/

### Local development folders ###
dotnet-cut-tag/
js-pnpm-cut-tag/
python-uv-setup/
